{
    "settings": {},
    "extends": ["eslint:recommended"],
    "env": {
        "browser": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": "es2020",
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [],

    "rules": {
        "no-console": 1,
        "no-debugger": 1,
        "no-unused-vars": 1
    }
}
